<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="radhoc.radhocapp">
	
	<!-- ASAPService needs to work with Wifi -->
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	
	<!-- ASAPService needs to work with Bluetooth -->
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	
	<application
		android:name=".RadHocApp"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/Theme.RadHocApp"
		tools:replace="android:theme">
		<activity
			android:name=".TicTacToeActivity"
			android:exported="false" />
		<activity
			android:name=".InviteActivity"
			android:exported="false"
			android:label="@string/title_activity_invite"
			android:theme="@style/Theme.RadHocApp.NoActionBar" />
		<activity
			android:name=".InvitationsActivity"
			android:exported="false"
			android:label="@string/title_activity_invitation"
			android:theme="@style/Theme.RadHocApp.NoActionBar" />
		<activity
			android:name=".MainActivity"
			android:exported="false"
			android:label="@string/title_activity_main"
			android:theme="@style/Theme.RadHocApp.NoActionBar" />
		<activity
			android:name=".InitialActivity"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>

</manifest>